/*Estilos por defecto*/

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

    font-family: 'Anton', sans-serif;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
    color:#3e3b3b;
}

/*Header*/

.header{
    width:100%;
    height:4rem;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.logo{
    width:20%;
    height:100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p{
    font-size: 20px;
}

.logo img{
    height: 100%;
}

.nav{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items li{
    list-style: none;
    font-size: 13px
}

.items li:hover{
    border-bottom:solid   rgb(16, 104, 192);
    cursor: pointer;
}

.opciones{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.opciones img{
    height: 60%;
}

.menu_res{
    display: none;
}

.opciones_res{
    display: none;
}

@media(max-width: 1150px){

    .nav{
        display: none;
    }

    .logo{
        width:60%;
        height:100%;    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_res{
        width: 7%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .opciones{
        display: none;
    }

    .opciones_res{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}