/*Estilos por defecto*/

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

    font-family: 'Anton', sans-serif;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
    color:#3e3b3b;
}

/*Sistemeas*/

.container{
    width:100%;
    height:100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e6e0e0;
}

.tarjeta{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}

.planes{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.informacion{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:.5rem;
}

.planes img{
    height: 90%;  
}

/*Responsive Desing*/

@media(max-width: 1400px){

}